<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand"routerLink="/" routerLinkActive="active">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link"  *ngIf="_authService.loggedInAdmin()"  routerLink="/addCourses" routerLinkActive="active">Add Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  *ngIf="_authService.loggedInAdmin()"  routerLink="/viewCourses" routerLinkActive="active">View Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  *ngIf="_authService.loggedInAdmin()"  routerLink="/mentorsList" routerLinkActive="active">Courses</a>
        </li>
      </ul>
      <ul class="navbar-nav">
          <a class="nav-link" *ngIf="!_authService.loggedInAdmin()" routerLink="/admin-login" routerLinkActive="active">Login</a>
          <a class="nav-link" style="cursor:pointer" *ngIf="_authService.loggedInAdmin()">Welcome {{_authService.loggedInAdminName()}}</a>
          <a class="nav-link" style="cursor:pointer" *ngIf="_authService.loggedInAdmin()" (click)="_authService.logoutAdmin()">Logout</a>
      </ul>
      
    </div>
  </nav> 

 
