

<div class="container">
	<div class="row">
		
        
        <div class="col-md-12">
        <h4 class="text-center text-info">Running Courses</h4>
        <div class="table-responsive">

                
              <table id="mytable" class="table table-bordred table-striped">
                   
                   <thead>
                   <th>Id</th>
                    <th>Name</th>
                     <th>Mentor Id</th>
                     <th>Description</th>
                     <th>Timing</th>
                      <th>Edit</th>
                       <th>Delete</th>
                   </thead>
    <tbody>   
    <tr *ngFor=" let course of viewCourses">
    <td>{{course._id}}</td>
    <td>{{course.name}}</td>
    <td>{{course.mentorId}}</td>
    <td>{{course.description}}</td>
    <td>{{course.date}}</td>
    <td><button class="btn btn-primary btn-xs"><i class="fa fa-edit"></i> Edit</button></td>
    <td><button class="btn btn-danger btn-xs"><i class="fa fa-times"></i> Delete</button></td>
    </tr>
  
    </tbody>
        
</table>


                
            </div>
            
        </div>
	</div>
</div>


