<app-mentor-body></app-mentor-body>

<div class="container">
    <h2 class="text-center text-info">My Students</h2>
<div class="row mt-5">
   <div class="col-md-4 mb-3" *ngFor="let course of courses">
     
    <div class="card text-center">
      <div class="card-body">
            <h2 class="card-text">{{course.name}}</h2>
            
            <p class="card-text">{{course.description}}</p>
            <p class="card-text" hidden>{{course._id}}</p>
            <p class="card-text">{{course.studentId}}</p>
          </div>
          <div class="card-footer text-muted">
            {{course.date}}
          </div>
    </div>
  </div>
</div>
</div>





